---
apiVersion: v1
kind: Secret
metadata:
  name: azurekv-secret
  namespace: external-secrets
stringData:
  clientId: "AZURE_CLIENT_ID"
  clientSecret: "AZURE_CLIENT_SECRET"
  tenantId: "AZURE_TENANT_ID"
---
apiVersion: v1
kind: Secret
metadata:
  name: cloudflare-tunnel-id-secret
  namespace: network
stringData:
  CLOUDFLARE_TUNNEL_ID: azkv://keyvault-kube/cloudflare#CLUSTER_CLOUDFLARE_TUNNEL_ID
