{% for namespace in ["external-secrets", "flux-system", "network"] %}
---
apiVersion: v1
kind: Namespace
metadata:
  name: {{ namespace }}
{% endfor %}
---
apiVersion: v1
kind: Secret
metadata:
  name:  azure-keyvault
  namespace: external-secrets
stringData:
  client-id: "AZURE_CLIENT_ID"
  client-secret: "AZURE_CLIENT_SECRET"
  tenant-id: "AZURE_TENANT_ID"
---
apiVersion: v1
kind: Secret
metadata:
  name: sops-age
  namespace: flux-system
stringData:
  age.agekey: "SOPS_PRIVATE_KEY"
---
apiVersion: v1
kind: Secret
metadata:
  name: homeops-ca-tls
  namespace: kube-system
  annotations:
    cert-manager.io/alt-names: '*.homeops.ca,homeops.ca'
    cert-manager.io/certificate-name: homeops-ca
    cert-manager.io/common-name: homeops.ca
    cert-manager.io/ip-sans: ""
    cert-manager.io/issuer-group: ""
    cert-manager.io/issuer-kind: ClusterIssuer
    cert-manager.io/issuer-name: letsencrypt-production
    cert-manager.io/uri-sans: ""
  labels:
    controller.cert-manager.io/fao: "true"
type: kubernetes.io/tls
data:
  tls.crt: "HOMEOPS_TLS_CRT"
  tls.key: "HOMEOPS_TLS_KEY"
---
apiVersion: v1
kind: Secret
metadata:
  name: cloudflare-tunnel-id-secret
  namespace: network
stringData:
  CLOUDFLARE_TUNNEL_ID: "CLOUDFLARE_TUNNEL_ID"
