---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/cert-manager.io/certificate_v1.json
apiVersion: cert-manager.io/v1
kind: Certificate
metadata:
  name: homeops-ca
spec:
  secretName: homeops-ca-tls
  issuerRef:
    name: letsencrypt-production
    kind: ClusterIssuer
  commonName: homeops.ca
  dnsNames:
    # - homeops.ca
    - "*.homeops.ca"
