---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/external-secrets.io/pushsecret_v1alpha1.json
apiVersion: external-secrets.io/v1alpha1
kind: PushSecret
metadata:
  name: homeops-ca-tls
spec:
  refreshInterval: 1h
  secretStoreRefs:
    - name: azurekv
      kind: ClusterSecretStore
  selector:
    secret:
      name: homeops-ca-tls
  template:
    engineVersion: v2
    data:
      tls.crt: '{{ .tls.crt }}'
      tls.key: '{{ .tls.key }}'
  data:
    - match:
        secretKey: tls.crt
        remoteRef:
          remoteKey: homeops-ca-tls
    - match:
        secretKey: tls.key
        remoteRef:
          remoteKey: homeops-ca-tls
