---
# yaml-language-server: $schema=http://kubernetes-schemas.local.lan:8080/kustomize.toolkit.fluxcd.io/kustomization_v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: cluster-apps-speedtest-exporter
  namespace: flux-system
spec:
  path: ./kubernetes/apps/monitoring/speedtest-exporter/app
  prune: true
  sourceRef:
    kind: GitRepository
    name: home-ops-kubernetes
  wait: false # no flux ks dependents
  interval: 30m
  retryInterval: 1m
  timeout: 5m
