---
# yaml-language-server: $schema=http://kubernetes-schemas.devbu.io/helm.toolkit.fluxcd.io/helmrelease_v2beta2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: monero-exporter
spec:
  interval: 30m
  chart:
    spec:
      chart: app-template
      version: 3.1.0
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      strategy: rollback
      retries: 3
  values:
    controllers:
      monero-exporter:
        containers:
          app:
            image:
              repository: ghcr.io/osnabrugge/monero-exporter
              tag: kbld-rand-1633708808948946871-663617186156
            command: ["/monero-exporter", "--monero-addr=http://monerod.default.svc.cluster.local:18089"]
            resources:
              requests:
                cpu: 15m
              limits:
                memory: 60M
    service:
      app:
        controller: monero-exporter
        ports:
          http:
            port: 9000
    serviceMonitor:
      app:
        serviceName: monero-exporter
        endpoints:
        - port: http
          scheme: http
          path: /metrics
          interval: 60m
          scrapeTimeout: 1m
