---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2beta2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: vaultwarden
spec:
  interval: 30m
  chart:
    spec:
      chart: app-template
      version: 3.1.0
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      strategy: rollback
      retries: 3
  dependsOn:
    - name: rook-ceph-cluster
      namespace: rook-ceph
  values:
    controllers:
      vaultwarden:
        annotations:
          reloader.stakater.com/auto: "true"
        initContainers:
          init-db:
            image:
              repository: ghcr.io/onedr0p/postgres-init
              tag: 16
            envFrom: &envFrom
              - secretRef:
                  name: vaultwarden-secret
        containers:
          app:
            image:
              repository: ghcr.io/dani-garcia/vaultwarden
              tag: 1.30.5@sha256:edb8e2bab9cbca22e555638294db9b3657ffbb6e5d149a29d7ccdb243e3c71e0
            env:
              TZ: Etc/UTC
              DATA_FOLDER: config
              DOMAIN: https://vault.homeops.ca
              SIGNUPS_ALLOWED: false
              SMTP_FROM_NAME: Vault
              SMTP_FROM: vault@homeops.ca
              SMTP_SSL: true
              WEBSOCKET_ADDRESS: 0.0.0.0
              WEBSOCKET_ENABLED: true
              WEBSOCKET_PORT: 3012
              SMTP_HOST: smtp-relay.default.svc.cluster.local
              SMTP_PORT: 25
              SMTP_SECURITY: off
              SHOW_PASSWORD_HINT: false
            envFrom:
              - secretRef:
                  name: vaultwarden-secret
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities: { drop: ["ALL"] }
            resources:
              requests:
                cpu: 10m
                memory: 100Mi
              limits:
                memory: 250Mi
    defaultPodOptions:
      securityContext:
        runAsNonRoot: true
        runAsUser: 568
        runAsGroup: 568
        fsGroup: 568
        fsGroupChangePolicy: OnRootMismatch
        supplementalGroups: [10000]
        seccompProfile: { type: RuntimeDefault }
    service:
      app:
        controller: vaultwarden
        ports:
          http:
            port: &port 80
          websocket:
            enabled: true
            port: &websocket-port 3012
    ingress:
      app:
        className: external
        annotations:
          external-dns.alpha.kubernetes.io/target: external.homeops.ca
        hosts:
          - host: &host vault.homeops.ca
            paths:
              - path: /
                pathType: Prefix
                service:
                  identifier: app
                  port: *port
              - path: /notifications/hub/negotiate
                pathType: Prefix
                service:
                  identifier: app
                  port: *port
              - path: /notifications/hub
                pathType: Prefix
                service:
                  identifier: app
                  port: *websocket-port
    persistence:
      config:
        existingClaim: vaultwarden
        globalMounts:
          - path: /config
