---
machine:
  type: controlplane
  network:
    hostname: k8s01
    interfaces:
      - interface: bond0
        dhcp: true
        bond:
          mode: 802.3ad
          lacpRate: fast
          xmitHashPolicy: layer3+4
          miimon: 100
          updelay: 200
          downdelay: 200
          deviceSelectors:
            - hardwareAddr: "38:ea:a7:91:e3:9c"
            - hardwareAddr: "38:ea:a7:91:e3:9d"
        mtu: 1500
        vlans:
          - vlanId: 70
            dhcp: false
            addresses:
              - 192.168.70.11/24
            mtu: 1500
