---
machine:
  network:
    hostname: k8s01
    interfaces:
      - interface: bond0
        dhcp: true
        bond:
          mode: 802.3ad
          lacpRate: fast
          xmitHashPolicy: layer3+4
          miimon: 100
          updelay: 200
          downdelay: 200
          deviceSelectors:
            - hardwareAddr: "38:ea:a7:91:e3:9c"
            - hardwareAddr: "38:ea:a7:91:e3:9d"
        mtu: 1500
       - interface: bond0.70
         vlan:
           vlanId: 70
         dhcp: true
         mtu: 1500
