---
machine:
  type: controlplane
  network:
    hostname: k8s03
    interfaces:
      - interface: bond0
        dhcp: true
        bond:
          mode: 802.3ad
          lacpRate: fast
          xmitHashPolicy: layer3+4
          miimon: 100
          updelay: 200
          downdelay: 200
          deviceSelectors:
            - hardwareAddr: "00:11:0a:68:bd:70"
            - hardwareAddr: "00:11:0a:68:bd:71"
        mtu: 1500
        vlans:
          - vlanId: 70
            dhcp: false
            addresses:
              - 192.168.70.13/24
            routes:
              - network: 0.0.0.0/0
                gateway: 192.168.70.1
            mtu: 1500
