---
machine:
  network:
    hostname: k8s06
    interfaces:
      - interface: bond0
        dhcp: true
        bond:
          mode: 802.3ad
          lacpRate: fast
          xmitHashPolicy: layer3+4
          miimon: 100
          updelay: 200
          downdelay: 200
          deviceSelectors:
            - hardwareAddr: "38:ea:a7:8e:8b:6c"
            - hardwareAddr: "38:ea:a7:8e:8b:6d"
        mtu: 1500
        vlans:
          - vlanId: 70
            dhcp: false
          - vlanId: 99
            dhcp: false
  nodeLabels:
    topology.kubernetes.io/zone: w
  type: worker
