---
machine:
  network:
    hostname: k8s03
    interfaces:
      - interface: bond0
        dhcp: true
        bond:
          mode: 802.3ad
          lacpRate: fast
          xmitHashPolicy: layer3+4
          miimon: 100
          updelay: 200
          downdelay: 200
          deviceSelectors:
            - hardwareAddr: "00:11:0a:68:bd:70"
            - hardwareAddr: "00:11:0a:68:bd:71"
        mtu: 1500
  nodeLabels:
    topology.kubernetes.io/zone: m
  type: controlplane
