---
machine:
  type: controlplane
  network:
    hostname: k8s03
    interfaces:
      - interface: bond0
        dhcp: true
        bond:
          mode: 802.3ad
          lacpRate: fast
          xmitHashPolicy: layer3+4
          miimon: 100
          updelay: 200
          downdelay: 200
          # interfaces (not deviceSelectors) to avoid Talos bug #12782:
          # VLAN-on-bond gets wrong linkspec (masterName) with deviceSelectors,
          # causing an enslave loop (EBUSY) that forces the VLAN DOWN.
          interfaces:
            - enp1s0f0
            - enp1s0f1
        mtu: 1500
        vlans:
          - vlanId: 1
            dhcp: false
            addresses:
              - 192.168.0.13/24
            mtu: 1500
          - vlanId: 50
            dhcp: false
            addresses:
              - 192.168.50.13/24
            mtu: 1500
          - vlanId: 70
            dhcp: false
            addresses:
              - 192.168.70.13/24
            mtu: 1500
          - vlanId: 90
            dhcp: false
            addresses:
              - 192.168.90.13/24
            mtu: 1500
