---
version: v1alpha1
machine:
  ca:
    crt: azkv://keyvault-kube/talos#MACHINE_CA_CRT
    {% if ENV.IS_CONTROLLER == "true" %}
    key: azkv://keyvault-kube/talos#MACHINE_CA_KEY
    {% endif %}
  features:
    apidCheckExtKeyUsage: true
    diskQuotaSupport: true
    hostDNS:
      enabled: true
      forwardKubeDNSToHost: true # Requires Cilium socketLB features
      resolveMemberNames: true
    kubePrism:
      enabled: true
      port: 7445
    {% if ENV.IS_CONTROLLER == "true" %}
    kubernetesTalosAPIAccess:
      enabled: true
      allowedKubernetesNamespaces:
        - actions-runner-system
        - system-upgrade
      allowedRoles:
        - os:admin
    {% endif %}
    rbac: true
  files:
    - op: create
      path: /etc/cri/conf.d/20-customization.part
      content: |
        [plugins."io.containerd.cri.v1.images"]
          discard_unpacked_layers = false
        [plugins."io.containerd.cri.v1.runtime"]
          cdi_spec_dirs = ["/var/cdi/static", "/var/cdi/dynamic"]
          device_ownership_from_security_context = true
    - op: overwrite
      path: /etc/nfsmount.conf
      permissions: 0o644
      content: |
        [ NFSMount_Global_Options ]
        # TODO: Change to nfsvers=4.2 after migrating from Synology DS1821+ to Supermicro NAS
        # Synology explicitly blocks NFS v4.2 connections
        nfsvers=4.1
        hard=True
        nconnect=8
        noatime=True
        rsize=1048576
        wsize=1048576
  install:
    diskSelector:
      model: DOGFISH SSD 256G
    image: factory.talos.dev/metal-installer-secureboot/e39e36c032e1f2e22dcacf2007090a204e4bb1de019c9740c67aca9a1b2b3caf:v1.12.7
    wipe: false
  kernel:
    modules:
      - name: nbd
  kubelet:
    defaultRuntimeSeccompProfileEnabled: true
    disableManifestsDirectory: true
    extraConfig:
      serializeImagePulls: false
    image: ghcr.io/siderolabs/kubelet:v1.36.0
    nodeIP:
      validSubnets:
        - 192.168.42.0/24
  nodeLabels:
    node.kubernetes.io/gpu: "true"
    topology.kubernetes.io/region: main
    topology.kubernetes.io/zone: {{ 'm' if ENV.MACHINE_TYPE == 'controlplane' else 'w' }}
  sysctls:
    fs.inotify.max_user_instances: "8192"
    fs.inotify.max_user_watches: "1048576"
    net.core.default_qdisc: fq
    net.core.rmem_max: "67108864"
    net.core.wmem_max: "67108864"
    net.ipv4.neigh.default.gc_thresh1: "4096"
    net.ipv4.neigh.default.gc_thresh2: "8192"
    net.ipv4.neigh.default.gc_thresh3: "16384"
    net.ipv4.ping_group_range: "0 2147483647"
    net.ipv4.tcp_congestion_control: bbr
    net.ipv4.tcp_fastopen: "3"
    net.ipv4.tcp_mtu_probing: "1"
    net.ipv4.tcp_notsent_lowat: "131072"
    net.ipv4.tcp_rmem: "4096 87380 33554432"
    net.ipv4.tcp_slow_start_after_idle: "0"
    net.ipv4.tcp_window_scaling: "1"
    net.ipv4.tcp_wmem: "4096 65536 33554432"
    net.ipv6.conf.all.disable_ipv6: "1"
    net.ipv6.conf.default.disable_ipv6: "1"
    net.ipv6.conf.lo.disable_ipv6: "1"
    sunrpc.tcp_max_slot_table_entries: "128"
    sunrpc.tcp_slot_table_entries: "128"
    user.max_user_namespaces: "11255"
    vm.nr_hugepages: "1024"
  token: azkv://keyvault-kube/talos#MACHINE_TOKEN
cluster:
  ca:
    crt: azkv://keyvault-kube/talos#CLUSTER_CA_CRT
    {% if ENV.IS_CONTROLLER == "true" %}
    key: azkv://keyvault-kube/talos#CLUSTER_CA_KEY
    {% endif %}
  clusterName: main
  controlPlane:
    endpoint: https://k8s.in.homeops.ca:6443
  discovery:
    enabled: true
    registries:
      kubernetes:
        disabled: true
      service:
        disabled: false
  id: azkv://keyvault-kube/talos#CLUSTER_ID
  network:
    cni:
      name: none
    dnsDomain: cluster.local
    podSubnets:
      - 10.42.0.0/16
    serviceSubnets:
      - 10.43.0.0/16
  secret: azkv://keyvault-kube/talos#CLUSTER_SECRET
  token: azkv://keyvault-kube/talos#CLUSTER_TOKEN
  {% if ENV.IS_CONTROLLER == "true" %}
  aggregatorCA:
    crt: azkv://keyvault-kube/talos#CLUSTER_AGGREGATORCA_CRT
    key: azkv://keyvault-kube/talos#CLUSTER_AGGREGATORCA_KEY
  allowSchedulingOnControlPlanes: true
  apiServer:
    auditPolicy:
      apiVersion: audit.k8s.io/v1
      kind: Policy
      rules:
        - level: Metadata
    certSANs:
      - k8s.in.homeops.ca
    disablePodSecurityPolicy: true
    extraArgs:
      enable-aggregator-routing: "true"
    image: registry.k8s.io/kube-apiserver:v1.36.0
  controllerManager:
    extraArgs:
      bind-address: 0.0.0.0
    image: registry.k8s.io/kube-controller-manager:v1.36.0
  coreDNS:
    disabled: true
  etcd:
    advertisedSubnets:
      - 192.168.42.0/24
    ca:
      crt: azkv://keyvault-kube/talos#CLUSTER_ETCD_CA_CRT
      key: azkv://keyvault-kube/talos#CLUSTER_ETCD_CA_KEY
    extraArgs:
      listen-metrics-urls: http://0.0.0.0:2381
  proxy:
    disabled: true
    image: registry.k8s.io/kube-proxy:v1.36.0
  scheduler:
    config:
      apiVersion: kubescheduler.config.k8s.io/v1
      kind: KubeSchedulerConfiguration
      profiles:
        - schedulerName: default-scheduler
          plugins:
            score:
              disabled:
                - name: ImageLocality
          pluginConfig:
            - name: PodTopologySpread
              args:
                defaultingType: List
                defaultConstraints:
                  - maxSkew: 1
                    topologyKey: kubernetes.io/hostname
                    whenUnsatisfiable: ScheduleAnyway
    extraArgs:
      bind-address: 0.0.0.0
    image: registry.k8s.io/kube-scheduler:v1.36.0
  secretboxEncryptionSecret: azkv://keyvault-kube/talos#CLUSTER_SECRETBOXENCRYPTIONSECRET
  serviceAccount:
    key: azkv://keyvault-kube/talos#CLUSTER_SERVICEACCOUNT_KEY
  {% endif %}
---
apiVersion: v1alpha1
kind: DHCPv4Config
name: bond0
clientIdentifier: mac
---
apiVersion: v1alpha1
kind: EthernetConfig
name: bond0
features:
  rx-gro-list: off
  rx-udp-gro-forwarding: on
---
apiVersion: v1alpha1
kind: EthernetConfig
name: enp1s0f0
rings:
  rx: 8160
  tx: 8160
features:
  rx-gro-list: off
  rx-udp-gro-forwarding: on
---
apiVersion: v1alpha1
kind: EthernetConfig
name: enp1s0f1
rings:
  rx: 8160
  tx: 8160
features:
  rx-gro-list: off
  rx-udp-gro-forwarding: on
---
apiVersion: v1alpha1
kind: UserVolumeConfig
name: local-hostpath
provisioning:
  diskSelector:
    match: disk.model == "Samsung SSD 970 EVO Plus 1TB" && !system_disk
  minSize: 1TB
