---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2beta2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app multus
spec:
  interval: 30m
  chart:
    spec:
      chart: multus
      version: 5.0.4
      sourceRef:
        kind: HelmRepository
        name: angelnu
        namespace: flux-system
      interval: 30m
  values:
    image:
      repository: ghcr.io/k8snetworkplumbingwg/multus-cni
      tag: v4.0.2-thick
    cni:
      image:
        repository: ghcr.io/angelnu/cni-plugins
        tag: 1.5.0
      paths:
        config: /etc/cni/net.d
        bin: /opt/cni/bin
    resources:
      requests:
        cpu: 5m
        memory: 100Mi
      limits:
        memory: 100Mi
    hostPaths:
      netns: /var/run/netns
    nodeSelector:
      kubernetes.io/arch: amd64
