---
apiVersion: v1
kind: Namespace
metadata:
  name: external-secrets
---
apiVersion: v1
kind: Secret
metadata:
  name: azurekv-connect-secret
  namespace: external-secrets
stringData:
  azurekv-credentials.json: {{ ENV.AZURE_KV_CREDENTIALS_JSON | toJson }}
  azurekv-tenant-id: {{ ENV.AZURE_KV_TENANT_ID }}

