---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2beta2.json
apiVersion: helm.toolkit.fluxcd.io/v2beta2
kind: HelmRelease
metadata:
  name: &app snmp-exporter-nas
spec:
  interval: 30m
  chart:
    spec:
      chart: prometheus-snmp-exporter
      version: 5.1.1
      sourceRef:
        kind: HelmRepository
        name: prometheus-community
        namespace: flux-system
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      strategy: rollback
      retries: 3
  dependsOn:
    - name: kube-prometheus-stack
      namespace: observability
  values:
    fullnameOverride: *app
    extraArgs: ["--config.file=/config/snmp.yaml"]
    extraConfigmapMounts:
      - name: &name nas-snmp-configmap
        mountPath: /config/snmp.yaml
        subPath: snmp.yaml
        configMap: *name
        readOnly: true
        defaultMode: 420
    serviceMonitor:
      enabled: true
      params:
        - name: nas
          module: ["nas"]
          target: nas02.in.homeops.ca
          auth: ["public"]
      path: /snmp
      scrapeTimeout: 10s
      relabelings:
        - sourceLabels: [__param_target]
          targetLabel: instance
